version: '3.8'

services:
  app:
    image: ${DOCKER_USERNAME}/boardbuddy-server:${TAG:-latest}
    container_name: boardbuddy-server
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - boardbuddy-network

  db:
    image: postgres:15-alpine
    container_name: boardbuddy-db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    networks:
      - boardbuddy-network

  redis:
    image: redis:alpine
    container_name: boardbuddy-redis
    ports:
      - "6379:6379"
    networks:
      - boardbuddy-network

volumes:
  db_data:


networks:
  boardbuddy-network:
    driver: bridge
